---
import Nav from '../components/Nav.astro';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const events = await getCollection('events');

const upcomingEvents = events
  .filter(event => event.data.isUpcoming == true)
  .sort((a, b) => new Date(a.data.date) - new Date(b.data.date));
---

<Layout title="わにサークル">
  <Nav/>
	<main class="container mx-auto bg-secondary-light">
		
		<h1 class="text-xl py-3">わにサークルのイベント情報</h1>
		<div class="container mx-auto">
			<ul class="grid grid-cols-1 md:grid-cols-3 gap-6">
				{sortedEvents.map((event) => (
          <article class="bg-white rounded-lg shadow-md p-6">
            <p>{event.data.title}</p>
          {event.data.date}

          <a
            href={`events/${event.slug}`}
            class="block"
          >
            <img
              src={event.data.image}
            class="w-full h-48 object-cover"
            />
          </a>
          </article>
					// <Card event={event} />
				))}	
			</ul>
		</div>
	</main>
</Layout>